body {
    margin: 0;
    padding: 0;
}

.div1 {
    height: 100vh;
    background-image: url(../../images/baseball-92382.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-repeat: repeat-x;*/
    /*background-repeat: repeat-y;*/

}

.div2 {
    height: 100vh;
    /*background-image: url(../../images/baseball-92382.jpg);*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../images/pic01.jpg);
}